@import './bases/resets';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import './layout/header';
@import './layout/sections';
@import './layout/footer';
@import './medias/medias';
