footer{
    background: map-get($colores, colorPrincipal);
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-top: auto;

    h4{
        color: rgb(161, 107, 104);
        text-align: center;
    }

    #redes{
        i{
            font-size: 26px;
            padding: 0 8px ;
            color:rgb(194, 125, 122);
            &:hover{
                transition: calc(0.5s);
                color: rgb(138, 91, 89);
            }
        }
        
    }
}