@mixin encabezado {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/heroNosotros-optimizado.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    background-repeat: no-repeat;
}

header{
    @include encabezado;
}

.nosotros-contenido{
    position: absolute;
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    h1{
        font-size: 9vmin;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    h2{
        font-size: 6vmin;
    }

    .linea{
        width: 150px;
        height: 4px;
        background-color: map-get($colores, resaltado);
        margin: 10px auto;
        border-radius: 5px;
    }

    p{
        padding-top: 15px;
    }

    .boton{
        padding: 8px 15px;
        background: map-get($colores, resaltado);
        border-radius: 30px;
        color: whitesmoke;
    }

}


