/* ayuda */
.ayuda{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

    h1{
        font-size: 36px;
        font-weight: 600;
    }
    p{
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 20px;
    }

    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        .ayuda-col{
            flex-basis: 31%;
            background: #fff3f3;
            border-radius: 10px;
            margin-bottom: 5%;
            padding: 20px 12px;
            box-sizing: border-box;
            transition: 0.5s;

            h3{
                text-align: center;
                font-weight: 600;
                margin: 10px 0;
            }

            &:hover{
                box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
            }
        }
    }
}

/* Contacto */
#contacto{
    width: 100vw;
    height: 70vh;

    .container{
        width: 50vw;

        .boton {
            padding: 8px 15px;
            background: map-get($colores, resaltado);
            border-radius: 30px;
            color: whitesmoke;
        
        }
}
}

/* productos  */
.productos{
    padding-top: 50px;
    .producto-fila{
        .icono-wrap{
            
        
            &:hover{
                box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
                
            }

            .boton {
                padding: 8px 15px;
                background: map-get($colores, resaltado);
                border-radius: 30px;
                color: whitesmoke;
            
            }
        }

    }

}

.resaltado{
    color: map-get($colores, resaltado);
}

